In [543]:
import pandas as pd

# Load the dataset without columns
file_path = r'C:\Users\clint\Desktop\EvaluativeAssignment_2024\EvaluativeAssignment_2024\Medicare_Advantage\Medicare_Advantage\scp-1205.csv'
data = pd.read_csv(file_path, header=None)
data

,0,1,2,3,4,5,6,7,8,9
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000,6883,313,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000,6883,12,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000,6883,181,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000,6883,23,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000,6883,,,654.22
...,...,...,...,...,...,...,...,...,...,...
38008,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,GUzzz,11770,,,478.92
38009,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,GUzzz,11770,,,478.92
38010,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,GUzzz,11770,,,478.92
38011,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,GUzzz,11770,,,478.92
38012,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,GUzzz,11770,,,478.92

In [544]:
# Assign column names
data.columns = [
    'countyname', 'state', 'healthplanname', 'typeofplan', 'countyssa', 
    'eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment'
]

# Display the first few rows of the dataset
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000,6883,313,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000,6883,12,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000,6883,181,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000,6883,23,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000,6883,,,654.22
...,...,...,...,...,...,...,...,...,...,...
38008,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,GUzzz,11770,,,478.92
38009,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,GUzzz,11770,,,478.92
38010,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,GUzzz,11770,,,478.92
38011,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,GUzzz,11770,,,478.92
38012,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,GUzzz,11770,,,478.92

In [545]:
#investigate the data types of the columns
data.dtypes

countyname         object
state              object
healthplanname     object
typeofplan         object
countyssa          object
eligibles          object
enrollees          object
penetration        object
ABrate             object
monthly_payment    object
dtype: object

In [546]:
# Convert columns to numeric types
data[['eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment']] = data[['eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment']].apply(pd.to_numeric, errors='coerce')

# Display the data types to verify the changes
data.dtypes

countyname          object
state               object
healthplanname      object
typeofplan          object
countyssa           object
eligibles          float64
enrollees          float64
penetration        float64
ABrate             float64
monthly_payment    float64
dtype: object

In [547]:
import pandas as pd

# check data type
columns_to_convert = ['countyname', 'state', 'healthplanname', 'typeofplan', 'countyssa']
data[columns_to_convert] = data[columns_to_convert].astype(str)
data.dtypes

countyname          object
state               object
healthplanname      object
typeofplan          object
countyssa           object
eligibles          float64
enrollees          float64
penetration        float64
ABrate             float64
monthly_payment    float64
dtype: object

In [548]:
import pandas as pd

#remove bad state entries
valid_states = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 
    'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 
    'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]
# Strip leading and trailing whitespaces from the state column and convert to uppercase
data['state'] = data['state'].str.strip().str.upper()

# Filter the DataFrame to keep only rows with valid state abbreviations
data = data[data['state'].isin(valid_states)]
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000.0,6883.0,313.0,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,NaN,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
37813,UINTA,WY,H4650,DESERET HEALTHCARE TRUST,HCPP,53200.0,2006.0,NaN,NaN,591.91
37814,UINTA,WY,H6052,KAISER FOUNDATION HP INC.,COST,53200.0,2006.0,NaN,NaN,591.91
37815,WASHAKIE,WY,90091,UNITED MINE WORKERS OF AMERICA,HCPP,53210.0,1554.0,NaN,NaN,591.91
37816,WASHAKIE,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53210.0,1554.0,NaN,NaN,591.91
37817,WESTON,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53220.0,1295.0,NaN,NaN,591.91

In [549]:
#County-plan pairs that have missing values for eligibles, enrollees, and penetration should be considered as having zero values for these variables.  
data[['eligibles', 'enrollees', 'penetration']] = data[['eligibles', 'enrollees', 'penetration']].fillna(0)
data

C:\Users\clint\AppData\Local\Temp\ipykernel_28508\210569902.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['eligibles', 'enrollees', 'penetration']] = data[['eligibles', 'enrollees', 'penetration']].fillna(0)

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000.0,6883.0,313.0,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
37813,UINTA,WY,H4650,DESERET HEALTHCARE TRUST,HCPP,53200.0,2006.0,0.0,NaN,591.91
37814,UINTA,WY,H6052,KAISER FOUNDATION HP INC.,COST,53200.0,2006.0,0.0,NaN,591.91
37815,WASHAKIE,WY,90091,UNITED MINE WORKERS OF AMERICA,HCPP,53210.0,1554.0,0.0,NaN,591.91
37816,WASHAKIE,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53210.0,1554.0,0.0,NaN,591.91
37817,WESTON,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53220.0,1295.0,0.0,NaN,591.91

In [550]:

# Remove duplicate rows
data = data.drop_duplicates()
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000.0,6883.0,313.0,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
37813,UINTA,WY,H4650,DESERET HEALTHCARE TRUST,HCPP,53200.0,2006.0,0.0,NaN,591.91
37814,UINTA,WY,H6052,KAISER FOUNDATION HP INC.,COST,53200.0,2006.0,0.0,NaN,591.91
37815,WASHAKIE,WY,90091,UNITED MINE WORKERS OF AMERICA,HCPP,53210.0,1554.0,0.0,NaN,591.91
37816,WASHAKIE,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53210.0,1554.0,0.0,NaN,591.91
37817,WESTON,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53220.0,1295.0,0.0,NaN,591.91

In [551]:
# Filter for Puerto Rico and Guam
puerto_rico_guam_data = data[data['state'].str.contains('PR|GU', na=False)]

# Display the filtered data
puerto_rico_guam_data

Empty DataFrame
Columns: [countyname, state, healthplanname, typeofplan, countyssa, eligibles, enrollees, penetration, ABrate, monthly_payment]
Index: []

In [552]:
# Exclude Puerto Rico and Guam from the dataset as per instructions
data = data[~data['state'].str.contains('PR|GU', na=False)]

# Display the updated dataset
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000.0,6883.0,313.0,4.55,654.22
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
37813,UINTA,WY,H4650,DESERET HEALTHCARE TRUST,HCPP,53200.0,2006.0,0.0,NaN,591.91
37814,UINTA,WY,H6052,KAISER FOUNDATION HP INC.,COST,53200.0,2006.0,0.0,NaN,591.91
37815,WASHAKIE,WY,90091,UNITED MINE WORKERS OF AMERICA,HCPP,53210.0,1554.0,0.0,NaN,591.91
37816,WASHAKIE,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53210.0,1554.0,0.0,NaN,591.91
37817,WESTON,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53220.0,1295.0,0.0,NaN,591.91

In [553]:
#these columns are not needed
data = data.drop(columns=['ABrate', 'monthly_payment'])
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration
0,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000.0,6883.0,313.0
1,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0
2,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0
3,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0
4,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0
...,...,...,...,...,...,...,...,...
37813,UINTA,WY,H4650,DESERET HEALTHCARE TRUST,HCPP,53200.0,2006.0,0.0
37814,UINTA,WY,H6052,KAISER FOUNDATION HP INC.,COST,53200.0,2006.0,0.0
37815,WASHAKIE,WY,90091,UNITED MINE WORKERS OF AMERICA,HCPP,53210.0,1554.0,0.0
37816,WASHAKIE,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53210.0,1554.0,0.0
37817,WESTON,WY,H4652,UNION PACIFIC RR EMPLOYES HEALTH SYS,HCPP,53220.0,1295.0,0.0

In [554]:
# Filter the data where 'enrollees' is greater than 10
filtered_data = data[data['enrollees'] > 10]

# Group by county and state, then count the number of enrollees
numberofplans1 = filtered_data.groupby(['countyname', 'state']).size().reset_index(name='numberofplans1')
numberofplans1

          countyname state  numberofplans1
0         ABBEVILLE     SC               8
1            ACADIA     LA              10
2          ACCOMACK     VA               6
3               ADA     ID              48
4             ADAIR     IA               4
...              ...   ...             ...
3026  YUKON KOYUKUK     AK               2
3027           YUMA     AZ              50
3028           YUMA     CO               4
3029         ZAPATA     TX               4
3030         ZAVALA     TX               3

[3031 rows x 3 columns]

In [555]:
# Filter the data where 'penetration' is greater than 0.5
filtered_data = data[data['penetration'] > 0.5]

# Group by county and state, then count the number of plans
numberofplans2 = filtered_data.groupby(['countyname', 'state']).size().reset_index(name='numberofplans2')
numberofplans2

      countyname state  numberofplans2
0     ABBEVILLE     SC               1
1        ACADIA     LA               2
2           ADA     ID              10
3         ADAIR     IA               1
4         ADAIR     OK               1
...          ...   ...             ...
2049       YORK     SC               3
2050       YORK     VA               2
2051       YUBA     CA               3
2052       YUMA     AZ              12
2053       YUMA     CO               1

[2054 rows x 3 columns]

In [556]:

df=data.groupby(['countyname', 'state']).sum().reset_index()
#recreate penetration column
df['penetration'] = df['enrollees'] / df['eligibles']*100


# renaming columns
df.rename(columns={'enrollees': 'totalenrollees', 'penetration': 'totalpenetration'}, inplace=True)
#drop unneeded columns healthplanname typeofplan
df = df.drop(columns=['healthplanname', 'typeofplan'])
df

,countyname,state,countyssa,eligibles,totalenrollees,totalpenetration
0,ABBEVILLE,SC,PFFS HCPP PFFS COST PACE PFFS PFFS PFFS,336000.0,32496.0,9.671429
1,ACADIA,LA,HMO PFFS HMO DEMC PFFS HMO PSO HMO HCPP HCPP,190000.0,95370.0,50.194737
2,ACCOMACK,VA,HCPP COST DEMP HMO PPO HCPP,294000.0,43014.0,14.630612
3,ADA,ID,HMO HMO PPO PPO PPO COST HMO PFFS HCPP PFFS HC...,624000.0,1915104.0,306.907692
4,ADAIR,IA,PFFS PFFS COST PFFS,64000.0,6356.0,9.931250
...,...,...,...,...,...,...
3031,YUKON KOYUKUK,AK,HMO COST,4580.0,972.0,21.222707
3032,YUMA,AZ,HMO PPO HMO HMO HMO PFFS HCPP HMO PFFS HMO DEM...,156500.0,1160000.0,741.214058
3033,YUMA,CO,COST HMO HMO HMO,26480.0,6668.0,25.181269
3034,ZAPATA,TX,HMO HMO HMO HMO,183928.0,5804.0,3.155583
3035,ZAVALA,TX,HMO HCPP PFFS,137949.0,5079.0,3.681795

In [557]:
import pandas as pd

# input numberofplans1 and numberofplans2 dataframes
df = df.merge(numberofplans1[['countyname', 'state', 'numberofplans1']], on=['countyname', 'state'], how='left')
df = df.merge(numberofplans2[['countyname', 'state', 'numberofplans2']], on=['countyname', 'state'], how='left')
#fill Nan values with 0 in numberofplans1 and numberofplans2
df[['numberofplans1', 'numberofplans2']] = df[['numberofplans1', 'numberofplans2']].fillna(0)
df

,countyname,state,countyssa,eligibles,totalenrollees,totalpenetration,numberofplans1,numberofplans2
0,ABBEVILLE,SC,PFFS HCPP PFFS COST PACE PFFS PFFS PFFS,336000.0,32496.0,9.671429,8.0,1.0
1,ACADIA,LA,HMO PFFS HMO DEMC PFFS HMO PSO HMO HCPP HCPP,190000.0,95370.0,50.194737,10.0,2.0
2,ACCOMACK,VA,HCPP COST DEMP HMO PPO HCPP,294000.0,43014.0,14.630612,6.0,0.0
3,ADA,ID,HMO HMO PPO PPO PPO COST HMO PFFS HCPP PFFS HC...,624000.0,1915104.0,306.907692,48.0,10.0
4,ADAIR,IA,PFFS PFFS COST PFFS,64000.0,6356.0,9.931250,4.0,1.0
...,...,...,...,...,...,...,...,...
3031,YUKON KOYUKUK,AK,HMO COST,4580.0,972.0,21.222707,2.0,0.0
3032,YUMA,AZ,HMO PPO HMO HMO HMO PFFS HCPP HMO PFFS HMO DEM...,156500.0,1160000.0,741.214058,50.0,12.0
3033,YUMA,CO,COST HMO HMO HMO,26480.0,6668.0,25.181269,4.0,1.0
3034,ZAPATA,TX,HMO HMO HMO HMO,183928.0,5804.0,3.155583,4.0,0.0
3035,ZAVALA,TX,HMO HCPP PFFS,137949.0,5079.0,3.681795,3.0,0.0

In [558]:
def remove_repeated_words(text):
    words = text.split()
    seen = set()
    result = []
    for word in words:
        if word not in seen:
            seen.add(word)
            result.append(word)
    return ' '.join(result)


# Apply the function to the 'countyssa' column
#remove repeated types in SSA column
df['countyssa'] = df['countyssa'].apply(remove_repeated_words)
df

,countyname,state,countyssa,eligibles,totalenrollees,totalpenetration,numberofplans1,numberofplans2
0,ABBEVILLE,SC,PFFS HCPP COST PACE,336000.0,32496.0,9.671429,8.0,1.0
1,ACADIA,LA,HMO PFFS DEMC PSO HCPP,190000.0,95370.0,50.194737,10.0,2.0
2,ACCOMACK,VA,HCPP COST DEMP HMO PPO,294000.0,43014.0,14.630612,6.0,0.0
3,ADA,ID,HMO PPO COST PFFS HCPP PACE DEMO DEMP DEMC,624000.0,1915104.0,306.907692,48.0,10.0
4,ADAIR,IA,PFFS COST,64000.0,6356.0,9.931250,4.0,1.0
...,...,...,...,...,...,...,...,...
3031,YUKON KOYUKUK,AK,HMO COST,4580.0,972.0,21.222707,2.0,0.0
3032,YUMA,AZ,HMO PPO PFFS HCPP DEMC PACE COST DEMP DEMO,156500.0,1160000.0,741.214058,50.0,12.0
3033,YUMA,CO,COST HMO,26480.0,6668.0,25.181269,4.0,1.0
3034,ZAPATA,TX,HMO,183928.0,5804.0,3.155583,4.0,0.0
3035,ZAVALA,TX,HMO HCPP PFFS,137949.0,5079.0,3.681795,3.0,0.0

In [559]:
#sort by state then county instruction
df = df.sort_values(by=['state', 'countyname']).reset_index(drop=True)

df
# Save the DataFrame to a CSV file
output_file_path = r'C:\Users\clint\Desktop\EvaluativeAssignment_2024\EvaluativeAssignment_2024\Medicare_Advantage\Medicare_Advantage\output_1.csv'
df.to_csv(output_file_path, index=False)

In [560]:
# I dont understand what is being asked in countyssa but this is my best attempt 
# I think the question is asking for the number of occurrence of different SSA codes in each state and country

# Group by 'countyname' and 'state', then count occurrences of 'countyssa'
countyssa = data.groupby(['countyname', 'state'])['countyssa'].value_counts().unstack(fill_value=0)


# Save the countyssa DataFrame to a CSV file
countyssa_output_file_path = r'C:\Users\clint\Desktop\EvaluativeAssignment_2024\EvaluativeAssignment_2024\Medicare_Advantage\Medicare_Advantage\output_2.csv'
countyssa.to_csv(countyssa_output_file_path)