In [342]:
import pandas as pd

# Load the dataset
file_path = r'C:\Users\clint\Desktop\EvaluativeAssignment_2024\EvaluativeAssignment_2024\Medicare_Advantage\Medicare_Advantage\scp-1205.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data

,AUTAUGA,AL,H0150,HEALTHSPRING OF ALABAMA INC.,HMO,1000,6883,313,4.55,654.22
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000,6883,12,0.17,654.22
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000,6883,181,2.63,654.22
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000,6883,23,0.33,654.22
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000,6883,,,654.22
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000,6883,,,654.22
...,...,...,...,...,...,...,...,...,...,...
38007,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,GUzzz,11770,,,478.92
38008,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,GUzzz,11770,,,478.92
38009,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,GUzzz,11770,,,478.92
38010,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,GUzzz,11770,,,478.92
38011,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,GUzzz,11770,,,478.92

In [343]:
data.columns = [
    'countyname', 'state', 'healthplanname', 'typeofplan', 'countyssa', 
    'eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment'
]

# Display the first few rows of the dataset to verify the changes
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000,6883,12,0.17,654.22
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000,6883,181,2.63,654.22
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000,6883,23,0.33,654.22
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000,6883,,,654.22
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000,6883,,,654.22
...,...,...,...,...,...,...,...,...,...,...
38007,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,GUzzz,11770,,,478.92
38008,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,GUzzz,11770,,,478.92
38009,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,GUzzz,11770,,,478.92
38010,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,GUzzz,11770,,,478.92
38011,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,GUzzz,11770,,,478.92

In [344]:
#investigate the data types of the columns
data.dtypes

countyname         object
state              object
healthplanname     object
typeofplan         object
countyssa          object
eligibles          object
enrollees          object
penetration        object
ABrate             object
monthly_payment    object
dtype: object

In [345]:
# Convert columns to numeric types
data[['eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment']] = data[['eligibles', 'enrollees', 'penetration', 'ABrate', 'monthly_payment']].apply(pd.to_numeric, errors='coerce')

# Display the data types to verify the changes
data.dtypes

countyname          object
state               object
healthplanname      object
typeofplan          object
countyssa           object
eligibles          float64
enrollees          float64
penetration        float64
ABrate             float64
monthly_payment    float64
dtype: object

In [346]:
#County-plan pairs that have missing values for eligibles, enrollees, and penetration should be considered as having zero values for these variables.  
data[['eligibles', 'enrollees', 'penetration']] = data[['eligibles', 'enrollees', 'penetration']].fillna(0)
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
38007,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,0.0,11770.0,0.0,NaN,478.92
38008,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,0.0,11770.0,0.0,NaN,478.92
38009,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,0.0,11770.0,0.0,NaN,478.92
38010,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,0.0,11770.0,0.0,NaN,478.92
38011,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,0.0,11770.0,0.0,NaN,478.92

In [347]:

# Remove duplicate rows
data = data.drop_duplicates()
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
38007,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,0.0,11770.0,0.0,NaN,478.92
38008,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,0.0,11770.0,0.0,NaN,478.92
38009,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,0.0,11770.0,0.0,NaN,478.92
38010,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,0.0,11770.0,0.0,NaN,478.92
38011,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,0.0,11770.0,0.0,NaN,478.92

In [348]:
# Filter for Puerto Rico and Guam
puerto_rico_guam_data = data[data['state'].str.contains('PR|GU', na=False)]

# Display the filtered data
puerto_rico_guam_data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
28977,ADJUNTAS,PR,H4003,MMM HEALTHCARE INC.,HMO,40010.0,2652.0,354.0,13.35,585.76
28978,ADJUNTAS,PR,H4004,PREFERRED MEDICARE CHOICE INC.,HMO,40010.0,2652.0,119.0,4.49,585.76
28979,ADJUNTAS,PR,H4005,TRIPLE-S INC.,PPO,40010.0,2652.0,20.0,0.75,585.76
28980,ADJUNTAS,PR,H4006,MCS LIFE INSURANCE COMPANY,HMO,40010.0,2652.0,66.0,2.49,585.76
28981,ADJUNTAS,PR,H4011,FIRST MEDICAL HEALTH PLAN INC.,PPO,40010.0,2652.0,17.0,0.64,585.76
...,...,...,...,...,...,...,...,...,...,...
38007,GUAM,GU,H1251,HAWAII MED. SRVC. ASSN.,COST,0.0,11770.0,0.0,NaN,478.92
38008,GUAM,GU,H1804,HUMANA INSURANCE COMPANY,PFFS,0.0,11770.0,0.0,NaN,478.92
38009,GUAM,GU,H2961,HEALTH PLAN OF NEVADA INC.,DEMO,0.0,11770.0,0.0,NaN,478.92
38010,GUAM,GU,H3806,HEALTH NET LIFE INSURANCE COMPANY,DEMP,0.0,11770.0,0.0,NaN,478.92
38011,GUAM,GU,H5005,PACIFICARE OF WASHINGTON INC.,HMO,0.0,11770.0,0.0,NaN,478.92

In [349]:
# Exclude Puerto Rico and Guam from the dataset as per instructions
data = data[~data['state'].str.contains('PR|GU', na=False)]

# Display the updated dataset
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration,ABrate,monthly_payment
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0,0.17,654.22
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0,2.63,654.22
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0,0.33,654.22
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0,NaN,654.22
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000.0,6883.0,0.0,NaN,654.22
...,...,...,...,...,...,...,...,...,...,...
37997,AMERICAN SOMOA,AS,H0562,HEALTH NET_OF CA,HMO,0.0,3259.0,0.0,NaN,NaN
37998,AMERICAN SOMOA,AS,H1251,HAWAII MED. SRVC. ASSN.,COST,0.0,3259.0,0.0,NaN,NaN
37999,AMERICAN SOMOA,AS,H5424,UNITED HEALTHCARE INSURANCE COMPANY,PPO,0.0,3259.0,0.0,NaN,NaN
38000,AMERICAN SOMOA,AS,H9104,SCAN HEALTH PLAN,DEMO,0.0,3259.0,0.0,NaN,NaN
38001,UNDER-11,,Hxxxx,Rollup by STATE of Under-11,11-Jan,0.0,0.0,23.0,NaN,NaN

In [350]:
#these columns are not needed
data = data.drop(columns=['ABrate', 'monthly_payment'])
data

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration
0,AUTAUGA,AL,H0151,UNITED HEALTHCARE OF ALABAMA INC.,HMO,1000.0,6883.0,12.0
1,AUTAUGA,AL,H0154,VIVA HEALTH INC.,HMO,1000.0,6883.0,181.0
2,AUTAUGA,AL,H1804,HUMANA INSURANCE COMPANY,PFFS,1000.0,6883.0,23.0
3,AUTAUGA,AL,90091,UNITED MINE WORKERS OF AMERICA,HCPP,1000.0,6883.0,0.0
4,AUTAUGA,AL,H0104,BLUE CROSS AND BLUE SHIELD OF ALABAMA,PPO,1000.0,6883.0,0.0
...,...,...,...,...,...,...,...,...
37997,AMERICAN SOMOA,AS,H0562,HEALTH NET_OF CA,HMO,0.0,3259.0,0.0
37998,AMERICAN SOMOA,AS,H1251,HAWAII MED. SRVC. ASSN.,COST,0.0,3259.0,0.0
37999,AMERICAN SOMOA,AS,H5424,UNITED HEALTHCARE INSURANCE COMPANY,PPO,0.0,3259.0,0.0
38000,AMERICAN SOMOA,AS,H9104,SCAN HEALTH PLAN,DEMO,0.0,3259.0,0.0
38001,UNDER-11,,Hxxxx,Rollup by STATE of Under-11,11-Jan,0.0,0.0,23.0

In [351]:
# Filter the data where 'enrollees' is greater than 10
filtered_data = data[data['enrollees'] > 10]

# Group by county and state, then count the number of enrollees
numberofplans1 = filtered_data.groupby(['countyname', 'state']).size().reset_index(name='numberofplans1')
numberofplans1

          countyname state  numberofplans1
0         ABBEVILLE    SC                8
1            ACADIA    LA               10
2          ACCOMACK    VA                6
3               ADA    ID               48
4             ADAIR    IA                4
...              ...   ...             ...
3031  YUKON KOYUKUK    AK                2
3032           YUMA    AZ               50
3033           YUMA    CO                4
3034         ZAPATA    TX                4
3035         ZAVALA    TX                3

[3036 rows x 3 columns]

In [352]:
# Filter the data where 'penetration' is greater than 0.5
filtered_data = data[data['penetration'] > 0.5]

# Group by county and state, then count the number of plans
numberofplans2 = filtered_data.groupby(['countyname', 'state']).size().reset_index(name='numberofplans2')
numberofplans2

      countyname state  numberofplans2
0     ABBEVILLE    SC                1
1        ACADIA    LA                2
2           ADA    ID               10
3         ADAIR    IA                1
4         ADAIR    OK                1
...          ...   ...             ...
2052       YORK    SC                3
2053       YORK    VA                2
2054       YUBA    CA                3
2055       YUMA    AZ               12
2056       YUMA    CO                1

[2057 rows x 3 columns]

In [353]:
# I dont understand what is being asked in countyssa but this is my best attempt 
# I think the question is asking for the number of occurence of different SSA codes in each state and country


# Group by 'countyname' and 'state', then count occurrences of 'countyssa'
countyssa = data.groupby(['countyname', 'state'])['countyssa'].value_counts().unstack(fill_value=0)

countyssa

countyssa             11-Jan  COST   DEMC   DEMO   DEMP   HCPP   HMO   PACE   \
countyname     state
ABBEVILLE      SC          0      1      0      0      0      1     0      1
ACADIA         LA          0      0      1      0      0      2     4      0
ACCOMACK       VA          0      1      0      0      1      2     1      0
ADA            ID          0      3      1      3      1      5    25      1
ADAIR          IA          0      1      0      0      0      0     0      0
...                      ...    ...    ...    ...    ...    ...   ...    ...
YUKON KOYUKUK  AK          0      1      0      0      0      0     1      0
YUMA           AZ          0      4      1      1      1      2    33      1
               CO          0      1      0      0      0      0     3      0
ZAPATA         TX          0      0      0      0      0      0     4      0
ZAVALA         TX          0      0      0      0      0      1     1      0

countyssa             PFFS   PPO   PSO
countyname     state
ABBEVILLE      SC         5     0     0
ACADIA         LA         2     0     1
ACCOMACK       VA         0     1     0
ADA            ID         4     5     0
ADAIR          IA         3     0     0
...                     ...   ...   ...
YUKON KOYUKUK  AK         0     0     0
YUMA           AZ         5     2     0
               CO         0     0     0
ZAPATA         TX         0     0     0
ZAVALA         TX         1     0     0

[3042 rows x 11 columns]

In [354]:


#number of individuals in the county that are Medicare eligible 
eligibles = data.groupby(['countyname', 'state']).sum().reset_index()

eligibles

,countyname,state,healthplanname,typeofplan,countyssa,eligibles,enrollees,penetration
0,ABBEVILLE,SC,H1804 90091H0540 H2150 H4203 H4204 H4205 H5006,HUMANA INSURANCE COMPANY UNITED MINE WORKERS O...,PFFS HCPP PFFS COST PACE PFFS PFFS PFFS,336000.0,32496.0,291.0
1,ACADIA,LA,H1961 H5006 H1032 H1902 H1906 H1951 H4506 H451...,TENET CHOICES INC. / PEOPLES HEALTH NETWORK S...,HMO PFFS HMO DEMC PFFS HMO PSO HMO HCPP HCPP,190000.0,95370.0,94.0
2,ACCOMACK,VA,90091H2150 H3109 H3330 H4908 H6334,UNITED MINE WORKERS OF AMERICA KAISER FNDN HP ...,HCPP COST DEMP HMO PPO HCPP,294000.0,43014.0,0.0
3,ADA,ID,H0524 H0543 H1302 H1303 H1304 H1349 H1350 H180...,KAISER FOUNDATION HP INC. PACIFICARE OF CALIF...,HMO HMO PPO PPO PPO COST HMO PFFS HCPP PFFS HC...,624000.0,1915104.0,8203.0
4,ADAIR,IA,H1804 H0540 H1472 H2408,HUMANA INSURANCE COMPANY UNICARE LIFE & HEALTH...,PFFS PFFS COST PFFS,64000.0,6356.0,29.0
...,...,...,...,...,...,...,...,...
3037,YUKON KOYUKUK,AK,H0524 H1555,KAISER FOUNDATION HP INC. ARNETT HMO,HMO COST,4580.0,972.0,0.0
3038,YUMA,AZ,H0303 H0319 H0321 H0524 H0543 H1804 H4652 H500...,PACIFICARE OF ARIZONA INC UNITED HEALTHCARE I...,HMO PPO HMO HMO HMO PFFS HCPP HMO PFFS HMO DEM...,156500.0,1160000.0,1473.0
3039,YUMA,CO,H0602 H0303 H0504 H0630,ROCKY MOUNTAIN HEALTH PLANS PACIFICARE OF ARIZ...,COST HMO HMO HMO,26480.0,6668.0,28.0
3040,ZAPATA,TX,H0524 H3204 H4510 H4513,KAISER FOUNDATION HP INC. PRESBYTERIAN HEALTH...,HMO HMO HMO HMO,183928.0,5804.0,0.0
3041,ZAVALA,TX,H4510 H4652 H5435,HUMANA HEALTH PLAN OF TEXAS INC. UNION PACIFIC...,HMO HCPP PFFS,137949.0,5079.0,0.0